
#toolbar {
  display: flex;
  justify-content: space-between;	
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#toolbar .icon {
  height: 34px;
  padding: 16px 12px 16px 24px;
  display: inline-block;
}
#toolbar h1 {
  color: #4fc08d;
  display: inline-block;
  font-size: 28px;
  margin: 0;
}
#toolbar a {
	display: flex;
	align-items: center;
	text-decoration: none;
}
#toolbar ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0 24px 0 0;
	margin: 0;
}
@media(max-width: 373px){
#toolbar ul {
		padding-right: 12px;
}
}
#toolbar ul li {
	padding: 10px 10px 0 10px;
}
#toolbar ul li a {
	text-decoration: none;
	line-height: 1;
	color: inherit;
	font-size: 13px;
	padding-bottom: 8px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
#toolbar ul li a:hover {
	border-bottom: 2px solid #484848;
	padding-bottom: 6px;
}

/*  
 * Addedd
 

#toolbar {
	position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 1000;
}	
	
/*
 * 
 */



#footer {
	margin-bottom: 3em;
}
#footer .icon {
	height: 23px;
	display: inline-block;
	margin-bottom: -6px;
}
.hr {
	border-bottom: 1px solid #dbdbdb;
	margin: 3em 0;
}
#footer p {
	font-size</span>: 15px;
	color: #767676 !important;
	display: flex;
}
#footer p img {
	padding-right: 6px;
}
	

.about {
	margin-top: 2em;
}
.about h3 {
	font-size: 22px;
}
	

.image-carousel {
	height: 100%;
	margin-top: -12vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image-carousel img {
	width: 100%;
}
.image-carousel .controls {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.carousel-control {
	padding: 1rem;
	color: #ffffff;
	opacity: 0.85
}
@media (min-width: 744px) {
.carousel-control {
		font-size: 3rem;
}
}
	

#modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
	background-color: rgba(0,0,0,0.85);
}
#modal.show {
	display: block;
}
body.modal-open {
	overflow: hidden;
	/* position: fixed; */
}
.modal-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0px 28px 8px;
	font-size: 4em;
	width: auto;
	height: auto;
	background: transparent;
	border: 0;
	outline: none;
	color: #ffffff;
	z-index: 1000;
	font-weight: 100;
	line-height: 1;
}
.modal-content {
	height: 100%;
	max-width: 105vh;
	padding-top: 12vh;
	margin: 0 auto;
	position: relative;
}
.modal-content img {
	max-width: 100%;
}


hr {
    border: 0;
    border-top: 1px solid #dce0e0;
}
.list {
    display: flex;
    flex-wrap: nowrap;
    margin: 2em 0;
}
.list .title {
    flex: 1 1 25%;
}
.list .content {
    flex: 1 1 75%;
    display: flex;
    flex-wrap: wrap;
}
.list .list-item {
    flex: 0 0 50%;
    margin-bottom: 16px;
}
.list .list-item > i {
    width: 35px;
}
@media (max-width: 743px) {
.list .title {
        flex: 1 1 33%;
}
.list .content {
        flex: 1 1 67%;
}
.list .list-item {
        flex: 0 0 100%;
}
}


.header .header-img .view-photos {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.header {
	height: 320px;
}
.header .header-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #f5f5f5;
	height: 100%;
	cursor: pointer;
	position: relative;
}
button {
	border-radius: 4px;
	border: 1px solid #c4c4c4;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	line-height: 1.43;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
	background: white;
	color: #484848;
	padding: 7px 18px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 0;
}
	

.listing-save {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.listing-save .fa-heart-o {
	color: #ffffff;
	font-weight: bolder;
}
.listing-save .fa-heart {
	color: #ff5a5f;
}
.listing-save i {
	padding-right: 4px;
}
.listing-save button .fa-heart-o {
	color: #808080;
}

.about p {
	white-space: pre-wrap;
}
.about p.contracted {
	height: 250px;
	overflow: hidden;
}
.about button.more {
	background: transparent;
	border: 0;
	color: #008489;
	padding: 0;
	font-size: 17px;
	font-weight: bold;
}
.about button.more:hover,
.about button.more:focus,
.about button.more:active {
	text-decoration: underline;
	outline: none;
}
	




































.listing-summaries-wrapper {
	overflow: hidden;
}
.listing-summary-group {
	padding-bottom: 20px;
}
.listing-summaries {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: transform 1s;
}
.listing-summaries > .listing-summary {
	margin-right: 15px;
}
.listing-summaries > .listing-summary:last-child {
	margin-right: 0;
}
.listing-carousel {
	position: relative;
}
.listing-carousel .controls {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: calc(50% - 45px);
	left: -45px;
	width: calc(100% + 90px);
}
.listing-carousel .controls .carousel-control{
	color: #c5c5c5;
	font-size: 1.5rem;
	cursor: pointer;
}
.listing-summaries-wrapper {
	overflow: hidden;
}
	

.listing-summary {
	flex: 0 0 auto;
	position: relative;
}
.listing-summary a {
	text-decoration: none;
}
.listing-summary .wrapper {
	max-width: 350px;
	display: block;
}
.listing-summary .thumbnail {
	width: 350px;
	height: 250px;
	background-size: cover;
	background-position: center;
}
.listing-summary .info {
	color: #484848;
	word-wrap: break-word;
	letter-spacing: 0.2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.listing-summary .info.title {
	padding-top: 5px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
.listing-summary .info.address {
	font-size: 14px;
	line-height: 18px;
}
@media(max-width: 400px){
.listing-summary .listing-save {
		left: 15px;
		right: auto;
}
}
	

#saved .listing-summaries {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	overflow: hidden;
}
#saved .listing-summaries .listing-summary {
	padding-bottom: 30px;
}
.listing-summaries > .listing-summary {
	margin-right: 15px;
}
body {
	overflow-y: hidden;
}

#login form {
padding-top: 40px;
}
@media (min-width: 744px) {
#login form {
padding-top: 80px;
}
}
#login .form-control {
margin-bottom: 1em;
}
#login input[type=email],
#login input[type=password],
#login button,
#login label {
width: 100%;
font-size: 19px !important;
line-height: 24px;
color: #484848;
font-weight: 300;
}
#login input {
background-color: transparent;
padding: 11px;
border: 1px solid #dbdbdb;
border-radius: 2px;
box-sizing:border-box
}
#login button {
background-color: #4fc08d;
color: #ffffff;
cursor: pointer;
border: #4fc08d;
border-radius: 4px;
padding-top: 12px;
padding-bottom: 12px;
}
.error_messages div {
	color: #D8000C;
	width: 100%;
}
.error_messages {
	text-align: center;
}
	
