html, body {
	overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 17px;
  margin: 0;
}

@media (min-width: 744px) {
  .container {
    width: 696px;
  }
}

.heading {
  margin-bottom: 2em;
}

.heading h1 {
  font-size: 32px;
  font-weight: 700;
}

.heading p {
  font-size: 15px;
  color: #767676;
}

hr {
  border: 0;
  border-top: 1px solid #dce0e0;
}

button {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
}

.listing-container {
	margin: 0 auto;
	padding: 0 12px;
}
@media (min-width: 744px) {
.listing-container {
	width: 696px;
}
}
.home-container {
	margin: 0 auto;
	padding: 0 25px;
}
@media (min-width: 1131px) {
.home-container {
	width: 1080px;
}
}

.saved-container {
	margin: 0 auto;
	padding: 0 25px;
}

@media(min-width: 1131px){
	.saved-container {
		width: 1095px;
		padding-left: 40px;
		margin-bottom: -10px;
	}
}

.login-container {
margin: 0 auto;
padding: 0 12px;
}
@media (min-width: 374px) {
.login-container {
width: 350px;
}
}
input[type=text] {
-webkit-appearance: none;
}



/*
 * Added
 

.home-container {
	margin-top: 90px;
}

body::before {
	content: ' ';
  	display: block;
  	margin-top: 90px;
}

/*
 * 
 */
